@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "EditorialNew";
  src: url("./assets/EditorialNew.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: #cdeced; /* Background color of the selected text */
}
.font-custom-serif {
  font-family: "EditorialNew", Garamond, serif;
}

.highlight {
  font-weight: 550;
  color: #005461;
  background-color: #cdecec;
  padding: 0 2px;
  /*   font-family: "Verdana", sans-serif; */
}

#root {
  width: 100vw;
  height: 100vh;
}

.map-container {
  width: 100%;
  height: 100%;
}
